<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
<nav th:replace="~{layout :: navbar}"></nav>
<div class="text-center">
    <h1>Welcome to the Casino Games Engine</h1>
    <p>We calculate strategy and statistics about different, popular casino games</p>
    <img src="/Happy%20Roulette%20Wheel.webp" rel="icon" alt="Welcome Roulette Wheel" width="600" height="600">
</div>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>